h2{
	font-size:18px;
}

.current{
	background-color:#fff;
}

.hide {
	display:none;
}

.snippet{
	text-align: left;
	padding: 10px 0;
	cursor: pointer;
}

.snippet .content{
	padding-left:10px;
	width: 340px;
	font-size:14px;
}

.profile{
	margin-left:15px;
	height:50px;
	width:50px;
	border: 1px solid black;	
}

.left {
	float:left;
}

.clear {
	clear:both;
}

.career-box{
	color: rgb(141, 141, 141);
}

.contact {
	display: none;
}